.DS_Store
node_modules
# Seems to be used instead of ~/Library/pnpm/store when installing in worktrees.
.pnpm-store

# Backup created by flatten-expo-desktop-protocols.mjs
.flatten-expo-desktop-protocol-backup.json
